table#location-search-results {
  margin-top: 1rem;
  width: 100%;
  background-color: var(--c-text);
  color: var(--c-bg);
  /* text-transform: uppercase; */
  padding: 0.5rem;
  font-family: monospace;
  font-size: 0.8rem;
}

th {
  text-align: left;
  border-bottom: 2px solid var(--c-cyan);
}
